.hero-section{
background-color: rgb(3, 3, 20);

hr{
    margin: 0px 20px;
    color: yellow;
}


h1{
    text-align: center;
    color: white;
    font-size: 50px;
    padding-top: 20px;
    text-decoration: underline;
    font-family: 'Merienda', cursive;
    
}
p{
    text-align: center;
    font-size: 40px;
    color: white;
    font-weight: bold;
    font-family: 'Merienda', cursive;
}
.hero-image{
    display: flex;
    padding: 20px;
    margin-bottom: 100px;
// text-align: center;
p{
    color: wheat;
    padding-left: 200px;
    font-size: 60px;
    // padding-top: 100px;
    font-family: 'Caveat', cursive;
}


img{
    height: 600px;
    width: 600px;
    border-radius: 300px;
    

}
}
}



